{% extends "base.html" %}
{% block content %}

<h2 class="mb-4">Available Products</h2>

<div class="row">
    {% for product in products %}
    <div class="col-md-4 mb-4">
        <div class="card shadow-sm">
            <div class="card-body text-center">
                <h5 class="card-title">{{ product[1] }}</h5>
                <p class="card-text">₹ {{ product[2] }}</p>
                <a href="/add_to_cart/{{ product[0] }}" class="btn btn-primary">
                    Add to Cart
                </a>
            </div>
        </div>
    </div>
    {% endfor %}
</div>

{% endblock %}